{% load navbar_link %}
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Restaurant{% endblock %}</title>
    <style>
        body {
            padding-top: 70px;
        }

        .navbar {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <nav class="navbar navbar-expand-md bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{% static 'images/resto/logo_resto.png' %}" alt="Logo" height="40" class="me-2"
                    style="object-fit:contain;">
                <span>Femme-faim Restó</span>
            </a>

            <div class="hstack gap-2">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content"
                    aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-content">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="{% url 'menu_por_categorias' %}">
                                <i class="bi bi-list me-1"></i> Menu
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mis_notificaciones' %}">
                                <i class="bi bi-bell-fill"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="{% url 'ver_carrito' %}">
                                <i class="bi bi-cart-fill me-1"></i> Ver pedido
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="{% url 'mis_pedidos' %}">
                                <i class="bi bi-clipboard-check me-1"></i> Mis pedidos
                            </a>
                        </li>
                        {% endif %}
                    </ul>

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'perfil' %}">
                                <i class="bi bi-person-fill me-1"></i>
                                Mi Perfil 
                            </a>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'logout' %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link nav-link" style="display: inline;">
                                    Cerrar sesión
                                </button>
                            </form> 
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="{% url 'login' %}">
                                <i class="bi bi-box-arrow-in-right me-1"></i> Iniciar sesión
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center" href="/custom-admin/">
                                <i class="bi bi-shield-lock me-1"></i> Acceso staff
                            </a>
                        </li>

                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>

</html>