{% extends "base.html" %}
{% load static %}

{% block title %}Femme-faim Restó{% endblock title %}

{% block content %}
<div class="container mt-4">
    <div id="productosCarousel" class="carousel slide mb-5" data-bs-ride="carousel" data-bs-interval="2500">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/resto/logo_resto.png' %}" class="d-block w-100"
                    style="height:350px; object-fit:contain;" alt="logo_resto">
            </div>
            <div class="carousel-item active">
                <img src="{% static 'images/resto/primera.png' %}" class="d-block w-100"
                    style="height:350px; object-fit:cover;" alt="Producto 1">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/resto/segunda.png' %}" class="d-block w-100"
                    style="height:350px; object-fit:cover;" alt="Producto 2">
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/resto/tercera.png' %}" class="d-block w-100"
                    style="height:350px; object-fit:cover;" alt="Producto 3">
            </div>

        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#productosCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productosCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

    <div class="p-5 bg-light rounded-3 text-center">
        <h1 class="display-4">¡Bienvenido a Femme-faim Restó!</h1>
        <p class="fs-4">Hacé tus pedidos y reservá mesas.</p>
        <div class="row justify-content-center mt-4">
            <div class="col-md-4">
                <a href="{% url 'crear_reserva' %}">
                    <img src="{% static 'images/reservar_mesa.jpg' %}" class="img-fluid rounded" alt="Reservar Mesa"
                        style="width: 220px; height: 220px; object-fit: cover;">
                    <h3 class="mt-2">Reservar Mesa</h3>
                </a>
            </div>
            <div class="col-md-4">
                <a href="{% url 'menu_por_categorias' %}">
                    <img src="{% static 'images/crear_pedido.jpg' %}" class="img-fluid rounded" alt="Crear Pedido"
                        style="width: 220px; height: 220px; object-fit: cover;">
                    <h3 class="mt-2">Crear Pedido</h3>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}