{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="row">
        <div class="col-md-6">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid rounded">
            {% else %}
                <img src="{% static 'images/default_food.jpg' %}" alt="Sin imagen" class="img-fluid rounded">
            {% endif %}
        </div>
        <div class="col-md-6">
            <h2 class="mb-3">{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <h4 class="text-primary">${{ product.price }}</h4>
            {% if user.is_authenticated %}
                {% if product.is_available %}
                <form method="post" action="{% url 'orders:agregar_al_carrito' product.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Agregar al pedido</button>
                </form>
                {% else %}
                <button class="btn btn-secondary" disabled>No disponible</button>
                {% endif %}
            {% else %}
            <a href="{% url 'login' %}?next={% url 'menu_por_categorias' %}" class="btn btn-success">Agregar al pedido</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
